.loading {
    background-color: rgba(0, 0, 0, .0625);
    animation: shimmer 1.25s infinite ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes shimmer {
    from {
        background-color: rgba(0, 0, 0, .0625);
    }

    12.5% {
        background-color: rgba(0, 0, 0, .05);
    }

    37.5% {
        background-color: rgba(0, 0, 0, .03);
    }

    50% {
        background-color: rgba(0, 0, 0, .05);
    }

    75% {
        background-color: rgba(0, 0, 0, .075);
    }

    87.5% {
        background-color: rgba(0, 0, 0, .07);
    }

    to {
        background-color: rgba(0, 0, 0, .0625);
    }
}
