.app {
    position: relative;
}

.nav {
    position: sticky;
    top: 0;
    min-height: 120px;
}

.main {
    background-color: rgba(255, 255, 255, .9);
    margin: 0 auto;
    max-width: calc(120ch + var(--outer-space));
    padding: var(--outer-space);
    min-height: calc(100vh - 120px);
}

.mainFlex {
    display: flex;
    flex-direction: column;
}

.centered {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}