.disabled {
  opacity: 0.75;
  background: linear-gradient(
    192deg,
    rgba(25, 25, 25, 0.075),
    rgba(255, 255, 255, 0.95)
  );
  cursor: default;
  color: #cecece;
  outline: none;
}

.button {
  appearance: none;
  border: 1px solid rgba(125, 100, 110, 0.25);
  border-radius: 0;
  background-color: white;
  box-shadow: -1px 1px 4px rgba(125, 100, 110, 0.125);
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s linear, box-shadow 0.5s linear,
    transform 0.25s ease-in;
  cursor: pointer;
}

@media (min-width: 600px) {
  .button {
    padding: 0.75em 1.25em;
    min-height: 2.5em;
  }
}

.button:focus {
  box-shadow: 4px 4px 8px rgba(125, 100, 110, 0.25);
}

.button:hover {
  background: linear-gradient(
    192deg,
    rgba(25, 25, 25, 0.075),
    rgba(255, 255, 255, 0.95)
  );
  box-shadow: 4px 4px 8px rgba(125, 100, 110, 0.05);
}
