.quiz {
  position: relative;
  --question-width: 40rem;
  --question-width: min(80vw, 64ch);
  min-height: calc(100vh - var(--outer-space));
}
.quiz:fullscreen {
  background-color: #ffffffe6;
  max-width: 90ch;
}

@media (min-width: 960px) {
  .quiz {
    --question-width: min(50vh, 64ch);
    --quiz-top-bar-height: 5rem;
  }
  .quiz:fullscreen {
    padding: 5em 10rem;
  }
}

.quizInner {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionNumber {
  position: absolute;
  left: 0;
  top: var(--quiz-top-bar-height);
  filter: drop-shadow(4px 12px 16px rgba(0, 0, 0, 0.5));
  font-size: 5rem;
  font-weight: 900;
  opacity: 0.25;
  color: var(--color-highlight-transparent-grayish-2);
}

@media (min-width: 768px) {
  .quizInner {
    justify-content: center;
  }
}

.result {
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}

@keyframes fade-in {
  from {
    transform: translateX(-4em);
    opacity: 0;
  }
  50% {
    transform: translateX(-1em);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
