.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xs);
}

.boxLast {
    flex-grow: 1;
}

@media (min-width: 720px) {
    .boxLast {
        display: flex;
        justify-content: flex-end;
    }
}

.boxBlockCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}