.button {
    padding: .75em;
    flex-shrink: 0;
    border: 1px solid #ccc;
    transition: background-color .25s linear;
    display: inline-flex;
    gap: .5em;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    min-height: var(--input-height);
    border-radius: var(--border-radius);
}

.button:hover {
    background-color: #ccc;
}

.button:focus {
    outline: var(--focus-outline);
    background-color: rgba(255,255,255,.25);
    --focus-outline: 2px solid rgba(0,0,0,.5);
}


.bigButton {
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .0625);
    box-shadow: 2px 2px 2px rgba(125,100,110,.01);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5em 4em;
    min-height: 3em;
    min-width: 32rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background .5s linear, box-shadow .5s linear, transform .25s ease-in;
    cursor: pointer;
}

.bigButton:focus {
    box-shadow: 4px 4px 8px rgba(125,100,110,.25);
}

.bigButton:hover {
    background: linear-gradient(192deg, rgba(25, 25, 25, .075), rgba(255, 255, 255, .95));
    box-shadow: 4px 4px 8px rgba(125,100,110,.05);
}