html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #eee;
}

:root {
    --outer-space: 1rem;
    --icon-size: 1rem;
    --input-height: 2.75rem;
    --border-radius: .375rem;
    --focus-outline: 2px solid #bdbdbd;
    --input-border: 1px solid #ccc;
    --gap-xs: .5rem;
    --gap-s: .75rem;
    --gap-m: 1rem;
    --gap-l: 1.5rem;
    --gap: var(--gap-s);
    --desktop: 720px;
    --blue: #1203aa;
    --blue-600: #2809dc;
}

@media (min-width: 720px) {
    :root {
        --outer-space: 2rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.icon {
    width: var(--icon-size, 1em);
    height: var(--icon-size, 1em);
}

input,
textarea,
select,
button {
    min-height: var(--input-height);
    font-size: 1em;
    border-radius: var(--border-radius);
    border: var(--input-border);
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: var(--focus-outline);
}
