.nav {
    padding: var(--outer-space);
    border-bottom: 1px solid #aaa;
    background-color: #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .05);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .75rem;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.session {
    justify-content: flex-end;
}

@media (min-width: 721px) {
    .nav {
        flex-wrap: wrap;
    }
}