.nav {
    padding: var(--outer-space);
    border-bottom: 1px solid #aaa;
    background-color: #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .05);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .75rem;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.item {
    padding: .75em;
    flex-shrink: 0;
    border: 1px solid #ccc;
    border-radius: .25em;
    transition: background-color .25s linear;
    display: inline-flex;
    gap: .5em;
    align-items: center;
}

.item:hover {
    background-color: #ccc;
}

.icon {
    width: 1em;
    height: 1em;
}

.session {
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 600;
}

@media (min-width: 721px) {
    .nav {
        flex-wrap: wrap;
    }
}