.quiz {
    position: relative;
    --quiz-top-bar-height: 3.5rem;
    --question-width: 40rem;
    --question-width: min(50vh, 64ch);
    padding-top: var(--quiz-top-bar-height);
}

.topBar {
    position:absolute;
    top:0;
    width:100%;
    right:0;
    left:0;
    min-height: var(--quiz-top-bar-height);
    padding: var(--gap-s);
    gap: var(--gap-s);
    background: linear-gradient(30deg, rgba(125,125,125,.0025), rgba(0,0,0,.0625));
    border-bottom: 1px solid rgba(0,0,0,.25);
    font-size: .875rem;
    font-weight: 500;
    color: #4c4c4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomBar {
    width: var(--question-width);
}

.quizInner {
    min-height: min(50vh, 80rem);
}

.questionWrap {
    width: var(--question-width);
}

.result {
    animation: fade-in .5s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1000ms;
}

.finished {
    border: 5px solid green;
}

@keyframes fade-in {
    from {
        transform: translateX(100vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}